[submodule "shared/lib/threadx"]
	path = shared/lib/threadx
	url = https://github.com/azure-rtos/threadx.git
[submodule "shared/lib/netxduo"]
	path = shared/lib/netxduo
	url = https://github.com/azure-rtos/netxduo.git
[submodule "shared/lib/jsmn/src"]
	path = shared/lib/jsmn/src
	url = https://github.com/zserge/jsmn
